.menus {
    background-color: #f6f6f6;
    h2 {
        margin-bottom: 2rem;
    }

    .menus__cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;      
    }

    .card {
        border: 1px solid black;
        & .card__image {
         background-image: url("../../assets/images/restaurants/menu-1.jpg");
        }
    }
}
