@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}
.city .h2 {
  font-size: 1rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(225, 121, 218, 0.9));
  transition: transform;
  margin-top: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px -3px #000000;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  color: blue;
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #f6f6f6;
}
.menus h2 {
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.menus .card {
  border: 1px solid black;
  height: 4rem;
  flex-grow: 1;
  min-width: 30rem;
}
.menus .card .card__image {
  background-image: url;
}

main {
  padding: 0 1rem;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}

main .city i {
  font-size: 1.5rem;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}

.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.tuto {
  counter-reset: steps;
}
.tuto ol {
  display: flex;
  gap: 1rem;
}
@media (max-width: 800px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
}
.tuto li:hover {
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.tuto li .tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li .tuto li:hover {
  transform: scale(1.02);
}
.tuto li .tuto li i.fas {
  color: blue;
  margin-right: 1rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
